body{
    background: rgb(77, 202, 46);
    font: normal 15pt Arial;
    
    
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 310px; /*Defindio o tamanho fixo do elemento html*/
    margin: auto; /*Centralizando o elemento*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.534); /*Adicionando uma sombra ao elemento*/
    
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}

img {
    max-width: 250px;
    max-height: 250px;
}

div {
    text-align: center;
    padding: 7px;
}